
body {
    margin: 0px;
    font-family: 'Open Sans', sans-serif;
    
}
header  {
    
    margin: 0;
}

  .apple-pie-title {
    color: white;
    font-size: 80px;
    position: absolute;
    height: 300px;
    width: 400px;
    top: 160px;
    left: 300px;
  }

.apple-pie {
    height: 630px;
    width: 970px;
}

section {
    border-bottom-style: underline;
    padding: 20%, 0, 20%, 20%;
    display: flex;
    flex-direction: column;

}

hr.rounded {
    color: black transparent;
    border-radius: 5px;
    width: 650px;;
    
  }

  p {
    font-size: 17px;  
  }

.recipe-info {
    height: 30px ;
    width: 70px;
    justify-content: center;
    align-items: center;
    
}

h1{
    font-size: 30px; 
    justify-content: center;
    align-items: left; 
}

ul {
    list-style: "-" ;
}
ul> li {
    justify-content: center;
    align-items: left; 
}
.cooking-info {
    height: 50px;
    width: 100px;
    justify-content: center;
    align-items: center;
}
 
ol> li {
    list-style: none;
    justify-content: center;
    align-items: left; 
}
ol > li:before {
    content: counter(list) ")" ;
    counter-increment: list;
}

