
body {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px
}

  .apple-pie {
      size: cover;  
  } 
  
.recipe-info {
    display: flex;
    justify-content: center;
	align-items: flex-end;
}